:root {
	--primary-color: #34b9c0;
	--primary-color-transparent: #34b9c0bf;
	--main-text-color: #000000;
	--secondary-text-color: #ffffff;
	--secondary-text-color-hover: #dbdbdb;
	--description-color: #8787a2;
	--background-color: #ffffff;
}
